.HomeProduct-form input{
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--blueBlack);
  background: var(--white);
  font-size: 18px;
}
.HomeProduct-form input:hover{
  background-color: var(--white);
  border: 2px solid var(--blueBlack);
}

label p{
  margin-bottom: 10px;
}