.HomeProduct-form h3{
  font-size: 24px;
}

.HomeProduct-form input{
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--blueBlack);
  background: var(--white);
  font-size: 16px;
}
.HomeProduct-form input:hover{
  background-color: var(--white);
  border: 1px solid var(--blueBlack);
}

label p{
  margin-bottom: 10px;
  font-size: 19px;
}

.HomeProduct-form button{
  position: absolute;
  bottom: 15px;
  left: 30px;
  color:var(--white);
  background: var(--green);
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: 700;
}