.create{ 
  display: flex;
  width: 100%;
  justify-content:flex-end;

}
.create a{
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--green);
  font-size: 18px;
  color: var(--blueBlack);
  font-family: var(--font-secundary);
  font-weight: 700;
}

.create a:hover{
  background-color: var(--greenLight);
}
.create input{
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--green);
  font-size: 18px;
  color: var(--blueBlack);
  font-family: var(--font-secundary);
  font-weight: 700;
  cursor: pointer;
}

.create input:hover{
  background-color: var(--greenLight);
}

.boxCreate{
  display: grid;
  grid-template-columns: repeat(5, .20fr);
  /* grid-column-gap: 50px; */
  grid-template-areas: "boxProduct boxProduct boxProduct boxProduct boxProduct";
  padding: 10px;
  width: 100%;
  /* animation-name: ld-float-ttb-in; */
  transition: all .25s ease-in-out; /*comporbar si sirve*/
}

.boxProduct{
  /* width: 150px; */
  grid: boxProduct;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-rgba);
  border: .7px solid var(--green);
  /* box-shadow: 1px 1px 5px 1px var(--green); */
  padding: 20px 20px 20px 20px;
   margin: 25px;
  height: 270px;
  border-radius: 10px;
  position:relative;

}

.boxProduct p{
  margin: 0px;
  margin-bottom: 10px;
}

.boxProduct figure{
  margin: 0px;
  display: flex;
  border-bottom: 3px solid var(--green);
  justify-content: center;
  position: relative;
}

.boxProduct-icon{
  position: absolute; 
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.boxProduct-icon i{
  width: 15px;
  height: 15px;
  background-color: var(--green);
  border-radius: 50%;
  padding: 10px 10px;
  color: var(--blueBlack);
}

.boxProduct figure img{
  width: 100%;
  /* max-height: 95px; */
}

.boxProduct-info{
  margin: 15px 0px;
}
.boxProduct-info p {
  font-weight: 700;
}
.boxProduct-info span{
  font-weight: 500;
}

.boxProduct-icons{
  display: flex;
  justify-content: space-between;
  position :absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;

}

.boxProduct-icons i{
  width: 15px;
  height: 15px;
  display: flex;
  background-color: var(--green);
  padding: 10px;
  border-radius: 50%;
  color: var(--blueBlack);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* .boxProducts-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.boxProducts-modal form{
  display: flex;
  flex-direction: column;
}

.boxProducts-modal label{
  padding: 10px 5px;
  width: 50%;
}
