.Home{
  width: 85%;
  margin: auto;
  margin-top: 60px;
}
.Home h2{
  font-size: 22px;
}

.Home-container{
  display: flex;
  /* width: 80%; */
  flex-direction: column;
}

.Home-nav{
  display:flex;
}

.Home-nav li{
  padding: 12px 20px;
  font-size: 18px;
  cursor:pointer;
}
.Home-nav li{
  margin: 0;
}
.Home-nav li:hover{
  color: var(--green);
  /* padding-bottom: 8px; */
  /* border-bottom: 5px solid var(--green); */
 
}
.Home-box{
  width: 100%;
  min-height: 300px;
  border-top: 1px solid var(--white-rgba);
  /* border-radius: 10px; */
  padding: 15px 20px;
}
.Home-nav__option{
  border-bottom: 3px solid transparent;
  margin: 0px 0px 2px 0px;
}
.Home-nav__option.selected{
  color: var(--green);
  border-bottom:3px solid var(--green);
}