.login{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 90px; */
}
.login-box{
  padding:60px 35px;
  font-size: 18px;
  border: 2px solid var(--blueSemiLight);
  border-radius: 20px;
  color: var(--white);
  background-color: var(--grey-rgba);
  /* box-shadow: 1px 1px 5px 1px var(--white); */

}
.login-box h3{
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.login-box label{
  color: var(--white);

}
.login-box p{
  font-weight: 700;
  color: var(--white);
}
.login-box a p{
  display: flex;
  color: var(--white);

}
.login-box__login{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px 0px; */
}
.login-box a:hover{
  text-decoration: underline;
  color:var(--blueBlack);
}
.login-box__login a{
  background-color: var(--green);
  padding: 8px 16px;
  border-radius: 10px;
  color: var(--blueBlack);
  font-weight: 700;
}
.login-box__login a:hover{
  text-decoration: none;
}