.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-box{
  padding: 25px 10px;
}
.modal.is-open{
  display: flex;
}

.modal-container{
  position: relative;
  /* padding: 1rem; */
  width: 500px;
  /* height: 200px; */
  background-color: var(--white);
  color: var(--blueBlack);
  border-radius: 10px;
}

.modal-top{
  width: 100%;
  height: 40px;
  background-color: var(--blueBlack);
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-close{
  position:absolute;
  /* top:1 rem; */
  right:  0rem;
  background-color: var(--red);
  font-weight: 700;
  color: var(--white);  
  border: none;
  padding: 10px 12px;
  height: auto;
  border-top-right-radius: 10px;
}

.modal-bottom{
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center ;
}
.modal-bottom__box{
  position:absolute;
  bottom: 1rem;
  right: 1rem;
  margin-top: 40px;
}
.modal-bottom__box button{
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  margin: 0px 10px;
}

.modal-cancel{
  background-color: var(--red);
}
.modal-save{
  background-color: var(--green);
}
