.signup{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.signup-box{
  margin:90px 0;
  padding:60px 45px;
  border: 1px solid var(--black);
  border-radius: 20px;
  background-color: var(--blueSemiLight);
  color: var(--blueBlack);
  font-weight: 700;
}
.signup-box h3{
  display: flex;
  justify-content: center;
}

