.signup{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.signup-box{
  margin:90px 0;
  padding:60px 45px;
  border: 2px solid var(--blueSemiLight);
  border-radius: 20px;
  background-color: var(--grey-rgba);
  /* color: var(--blueBlack); */
  color: var(--white);
  font-weight: 700;
}
.signup-box h3{
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: var(--white);
}
.signup-box form label{
  color: var(--white);

}

label select{
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
}

label select option{
  padding: 8px 0px;
}
 p label{
   font-size: 18px;
   color: var(--blueBlack);
 }